# follow this: https://codehelp.notion.site/How-To-Generate-GIPHY-API-Key-85e268bd34464e75a403d32f299a79dc
# Go to https://developers.giphy.com and create an account to get an API key. Then, create a .env file in the root directory of the project and paste your API key in the following format:
# Then run npm start to start the app

REACT_APP_GIPHY_API_KEY='PASTE_YOUR_KEY_HERE'

# h2W47h7li8kwSoJuO2pBVjIDtmjc08Z5


# https://api.giphy.com/v1/gifs/random?api_key=h2W47h7li8kwSoJuO2pBVjIDtmjc08Z5&tag=&rating=g